body{
  background-color: #EBEBEB;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/********************************************************************************************************************************/
/* NAVIGATION */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  background-color: #05201C;
}	

.nav-itens{
  text-decoration: none;
  color: #EBEBEB;
  padding: 0 8px;
  font-weight: 300;
}

.nav-itens:hover{
  text-decoration: underline;
  color: #718785;
  font-weight: 700;
}

.brand{
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}	

.brand-green{
  color: #718785;
  padding-right: 4px;
}	
.brand-white{
  color: #EBEBEB;
}	
/********************************************************************************************************************************/



/********************************************************************************************************************************/
/* CONTENT */

/********************************************************************************************************************************/



/********************************************************************************************************************************/
/* FOOTER  */
/********************************************************************************************************************************/
